{% sw_extends '@Storefront/storefront/page/account/sidebar.html.twig' %}
{% block page_account_sidebar_menu %}
    {% if not context.customer.guest %}
        <div class="list-group list-group-flush account-aside-list-group">
            {{ parent() }}
            {% block page_account_sidebar_link_abandoned_carts %}
                {% set validRoutes = ['frontend.abandoned.carts', 'frontend.abandoned.carts'] %}
                <a
                        href="{{ path('frontend.abandoned.carts') }}"
                        class="list-group-item list-group-item-action account-aside-item{% if activeRoute in validRoutes %} is-active{% endif %}">
                    Abandoned Carts
                </a>
            {% endblock %}
        </div>
    {% endif %}
    {% block page_account_sidebar_link_subscriptions %}
        {% endblock %}
{% endblock %}